@model AdobeLicenseManagement.Models.VIP

@{
    ViewBag.Title = "VIP Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>VIP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VIPName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIPName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIPNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIPNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIPRenewalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIPRenewalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requests)
        </dt>

        <dd>
@if (!Model.Requests.Any())
{
    <p>No Requests associated with this VIP.</p>
}
else
{
            <table class="table">
                <tr>
                    <th>
                        Request ID
                    </th>
                    <th>
                        Purchase Order Number
                    </th>
                    <th>
                        VIP Name
                    </th>
                    <th>
                        License Type Description
                    </th>
                    <th>
                        Product Description
                    </th>
                    <th>
                        Point of Contact Name
                    </th>
                    <th>
                        ServiceDesk Request ID
                    </th>
                    <th>
                        End User ID
                    </th>
                </tr>
                @foreach (var item in Model.Requests)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseOrder.PurchaseOrderID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VIP.VIPName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LicenseType.LicenseTypeDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PointOfContact.POCName)
                        </td>
                        <td>
                            @foreach (var sdreq in item.ServiceDeskRequests)
                            {
                                @sdreq.ServiceDeskRequestID<br />
                            }
                        </td>
                        <td>
                            @foreach (var endU in item.EndUsers)
                            {
                                @endU.UserName<br />
                            }
                        </td>
                    </tr>
                }
            </table>
}
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VIPID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
