@model AdobeLicenseManagement.Models.VIP

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VIP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VIPName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIPName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIPNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIPNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIPRenewalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIPRenewalDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VIPID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
