@model IEnumerable<AdobeLicenseManagement.Models.VIP>

@{
    ViewBag.Title = "VIPs Table";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VIPName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIPNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIPRenewalDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VIPName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIPNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIPRenewalDate)
        </td>
        @if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
        {
            <!-- Show the edit/delete buttons for owners and administrators -->
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VIPID }) |
                @Html.ActionLink("Details", "Details", new { id = item.VIPID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VIPID })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.VIPID })
            </td>
        }
    </tr>
}

</table>
