@model IEnumerable<UTEP_Printing_Management.Models.SavedQuery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Query)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Query)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SavedQueryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SavedQueryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SavedQueryID })
        </td>
    </tr>
}

</table>
