@model AdobeLicenseManagement.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrder.PurchaseOrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrder.PurchaseOrderID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Create End User", "EndUserForm", "Forms", new { id = Model.RequestID }, null) |
    @Html.ActionLink("Create Service Desk Requests", "ServiceDeskForm", "Forms", new { id = Model.RequestID }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
