@model AdobeLicenseManagement.Models.Request

@{
    ViewBag.Title = "Request Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrder.PurchaseOrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrder.PurchaseOrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIP.VIPName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIP.VIPName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseType.LicenseTypeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseType.LicenseTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointOfContact.POCName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointOfContact.POCName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDeskRequests)
        </dt>

        <dd>
@if (!Model.ServiceDeskRequests.Any())
{
    <p>No Requests associated with this end user.</p>
}
else
{
            <table class="table">
                <tr>
                    <th>
                        ServiceDesk Request ID
                    </th>
                </tr>
                @foreach (var sdreq in Model.ServiceDeskRequests)
                {
                    <tr>
                        <td>
                            @sdreq.ServiceDeskRequestID<br />
                        </td>
                    </tr>
                }
            </table>
}
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndUsers)
        </dt>

        <dd>
@if (!Model.EndUsers.Any())
{
    <p>No Requests associated with this end user.</p>
}
else
{
            <table class="table">
                <tr>
                    <th>
                        End User ID
                    </th>
                    <th>
                        UserName
                    </th>
                    <th>
                        Email address
                    </th>
                    <th>
                        Building
                    </th>
                    <th>
                        Room Number
                    </th>
                    <th>
                        Tag Number
                    </th>
                    <th>
                        Computer Serial
                    </th>
                    <th>
                        Computer Name
                    </th>
                    <th>
                        Adobe ID
                    </th>
                </tr>
                @foreach (var endU in Model.EndUsers)
                {
                    <tr>
                        <td>
                            @endU.EndUserID<br />
                        </td>
                        <td>
                            @endU.UserName<br />
                        </td>
                        <td>
                            @endU.Email<br />
                        </td>
                        <td>
                            @endU.Building<br />
                        </td>
                        <td>
                            @endU.RmNo<br />
                        </td>
                        <td>
                            @endU.Tag<br />
                        </td>
                        <td>
                            @endU.ComputerSerial<br />
                        </td>
                        <td>
                            @endU.ComputerName<br />
                        </td>
                        <td>
                            @endU.AdobeID<br />
                        </td>
                    </tr>
                }
            </table>
}
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Create End User", "EndUserForm", "Forms", new { id = Model.RequestID }, null) |
    @Html.ActionLink("Create ServiceDesk Requests", "ServiceDeskForm", "Forms", new { id = Model.RequestID }, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
