@model AdobeLicenseManagement.Models.QueryViewModel

@{
    ViewBag.Title = "Queries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- TODO: Figure out why the textbox is going to the bottom when it has plenty of room. -->

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="QueryArea" class="col-xs-12" style="padding: 0px 0px 10px 0px">
        <form action="" method="post">
            <div id="QueryHeader" class="col-xs-12" style="padding: 3px 0px 3px 0px">
                <button type="submit" value="Run" name="action:Run" class="btn btn-primary btn-md" id="RunQuery">
                    <span class="glyphicon glyphicon-play-circle"></span>
                </button>
                <button type="button" value="Erase" name="Erase" class="btn btn-primary btn-md" onclick="clearText()">
                    <span class="glyphicon glyphicon-erase"></span>
                </button>
                <button type="submit" value="Save" name="action:Save" class="btn btn-primary btn-md" id="SaveQuery">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @style = "max-width: 40%", @placeholder = "This query is used for..." })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
            <div id="QueryBox" class="col-xs-12" style="padding: 3px 0px 3px 0px">
                @Html.TextAreaFor(m => m.Query, new { @class = "form-control", @style = "max-width: 100%; width: 100%; height: 100px", @placeholder = "SELECT *\nFROM Requests\nWHERE PointOfContact_POCName = 'mamorales15';" })
                @Html.ValidationMessageFor(m => m.Query, "", new { @class = "text-danger" })
            </div>
        </form>
    </div>
}
<div class="col-xs-12">
    <div id="ShortcutsArea" class="col-xs-4" style="padding-left: 0px">
        <div id="SyntaxArea" class="col-xs-12" style="padding: 10px 0px 10px 0px">
            <div id="Commands" style="padding: 0px 0px 3px 0px;">
                <div class="btn-group" role="group" aria-label="Commands">
                    <button type="button" class="btn btn-default" onclick="addText('SELECT ')" title="For more information see: https://www.w3schools.com/sql/sql_select.asp">SELECT</button>
                    <button type="button" class="btn btn-default" onclick="addText('FROM ')" title="For more information see: https://www.w3schools.com/sql/sql_select.asp">FROM</button>
                    <button type="button" class="btn btn-default" onclick="addText('INNER JOIN ')" title="For more information see: https://www.w3schools.com/sql/sql_join_inner.asp">INNER JOIN</button>
                    <button type="button" class="btn btn-default" onclick="addText('WHERE ')" title="For more information see: https://www.w3schools.com/sql/sql_where.asp">WHERE</button>
                </div>
            </div>
            <div id="Logical" style="padding: 3px 0px 3px 0px;">
                <div class="btn-group" role="group" aria-label="Logical">
                    <button type="button" class="btn btn-default" onclick="addText('AND ')" title="For more information see: https://www.w3schools.com/sql/sql_and_or.asp">AND</button>
                    <button type="button" class="btn btn-default" onclick="addText('OR ')" title="For more information see: https://www.w3schools.com/sql/sql_and_or.asp">OR</button>
                    <button type="button" class="btn btn-default" onclick="addText('NOT ')" title="For more information see: https://www.w3schools.com/sql/sql_and_or.asp">NOT</button>
                </div>
            </div>
            <div id="Comparison" style="padding: 3px 0px 0px 0px;">
                <div class="btn-group" role="group" aria-label="Comparison">
                    <button type="button" class="btn btn-default" onclick="addText('= ')" title="For more information see: https://www.w3schools.com/sql/sql_and_or.asp">=</button>
                    <button type="button" class="btn btn-default" onclick="addText('<> ')" title="For more information see: https://www.w3schools.com/sql/sql_and_or.asp"><></button>
                    <button type="button" class="btn btn-default" onclick="addText('> ')" title="For more information see: https://www.w3schools.com/sql/sql_and_or.asp">></button>
                    <button type="button" class="btn btn-default" onclick="addText('< ')" title="For more information see: https://www.w3schools.com/sql/sql_and_or.asp"><</button>
                    <button type="button" class="btn btn-default" onclick="addText('>= ')" title="For more information see: https://www.w3schools.com/sql/sql_and_or.asp">>=</button>
                    <button type="button" class="btn btn-default" onclick="addText('<= ')" title="For more information see: https://www.w3schools.com/sql/sql_and_or.asp"><=</button>
                </div>
            </div>
        </div>

        <div id="TablesArea" class="col-xs-12" style="padding: 10px 0px 0px 0px">
            <div class="btn-group col-xs-12 dropdown" id="EndUsers" style="padding: 0px 0px 3px 0px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="myCaret glyphicon glyphicon-chevron-down"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <button type="button" class="btn btn-default" onclick="addText('EndUsers ')">End Users</button>
                <ul class="dropdown-menu">
                    <li onclick="addText('EndUsers.EndUserID, EndUsers.UserName, EndUsers.Email, EndUsers.Building, EndUsers.RmNo, EndUsers.Tag, EndUsers.ComputerSerial, EndUsers.ComputerName, EndUsers.AdobeID ')"><a href="#">All</a></li>
                    <li onclick="addText('EndUsers.EndUserID ')"><a href="#">End User ID</a></li>
                    <li onclick="addText('EndUsers.UserName ')"><a href="#">UserName</a></li>
                    <li onclick="addText('EndUsers.Email ')"><a href="#">Email</a></li>
                    <li onclick="addText('EndUsers.Building ')"><a href="#">Building</a></li>
                    <li onclick="addText('EndUsers.RmNo ')"><a href="#">Room Number</a></li>
                    <li onclick="addText('EndUsers.Tag ')"><a href="#">Tag Number</a></li>
                    <li onclick="addText('EndUsers.ComputerSerial ')"><a href="#">Computer Serial</a></li>
                    <li onclick="addText('EndUsers.ComputerName ')"><a href="#">Computer Name</a></li>
                    <li onclick="addText('EndUsers.AdobeID ')"><a href="#">Adobe ID</a></li>
                    <li role="separator" class="divider"></li>
                    <li onclick="addText('EndUsers.Request_RequestID ')"><a href="#">Request ID</a></li>
                </ul>
            </div>
            <div class="btn-group col-xs-12 dropdown" id="LicenseTypes" style="padding: 3px 0px 3px 0px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="myCaret glyphicon glyphicon-chevron-down"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <button type="button" class="btn btn-default" onclick="addText('LicenseTypes ')">License Types</button>
                <ul class="dropdown-menu">
                    <li onclick="addText('LicenseTypes.LicenseTypeID, LicenseTypes.LicenseTypeDesc ')"><a href="#">All</a></li>
                    <li onclick="addText('LicenseTypes.LicenseTypeID ')"><a href="#">License Type ID</a></li>
                    <li onclick="addText('LicenseTypes.LicenseTypeDesc ')"><a href="#">License Type Description</a></li>

                </ul>
            </div>
            <div class="btn-group col-xs-12 dropdown" id="PointOfContacts" style="padding: 3px 0px 3px 0px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="myCaret glyphicon glyphicon-chevron-down"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <button type="button" class="btn btn-default" onclick="addText('PointOfContacts ')">Point of Contacts</button>
                <ul class="dropdown-menu">
                    <li onclick="addText('PointOfContacts.POCName ')"><a href="#">All</a></li>
                    <li onclick="addText('PointOfContacts.POCName ')"><a href="#">Point of Contact Name</a></li>
                </ul>
            </div>
            <div class="btn-group col-xs-12 dropdown" id="Products" style="padding: 3px 0px 3px 0px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="myCaret glyphicon glyphicon-chevron-down"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <button type="button" class="btn btn-default" onclick="addText('Products ')">Products</button>
                <ul class="dropdown-menu">
                    <li onclick="addText('Products.ProductID, Products.ProductDesc ')"><a href="#">All</a></li>
                    <li onclick="addText('Products.ProductID ')"><a href="#">Product ID</a></li>
                    <li onclick="addText('Products.ProductDesc ')"><a href="#">Product Description</a></li>
                </ul>
            </div>
            <div class="btn-group col-xs-12 dropdown" id="PurchaseOrders" style="padding: 3px 0px 3px 0px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="myCaret glyphicon glyphicon-chevron-down"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <button type="button" class="btn btn-default" onclick="addText('PurchaseOrders ')">Purchase Orders</button>
                <ul class="dropdown-menu">
                    <li onclick="addText('PurchaserOrders.PurchaseOrderID, PurchaseOrders.Qty, PurchaseOrders.PONo, PurchaseOrders.PODate ')"><a href="#">All</a></li>
                    <li onclick="addText('PurchaseOrders.PurchaseOrderID ')"><a href="#">Purchase Order ID</a></li>
                    <li onclick="addText('PurchaseOrders.Qty ')"><a href="#">Qty</a></li>
                    <li onclick="addText('PurchaseOrders.PONo ')"><a href="#">PO Number</a></li>
                    <li onclick="addText('PurchaseOrders.PODate ')"><a href="#">PO Date</a></li>
                    <li role="separator" class="divider"></li>
                    <li onclick="addText('PurchaseOrders.Request_RequestID ')"><a href="#">Request ID</a></li>
                </ul>
            </div>
            <div class="btn-group col-xs-12 dropdown" id="Requests" style="padding: 3px 0px 3px 0px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="myCaret glyphicon glyphicon-chevron-down"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <button type="button" class="btn btn-default" onclick="addText('Requests ')">Requests</button>
                <ul class="dropdown-menu">
                    <li onclick="addText('Requests.RequestID ')"><a href="#">All</a></li>
                    <li onclick="addText('Requests.RequestID ')"><a href="#">Request ID</a></li>
                    <li role="separator" class="divider"></li>
                    <li onclick="addText('Requests.LicenseType_LicenseTypeID ')"><a href="#">License Type ID</a></li>
                    <li onclick="addText('Requests.PointOfContact_POCName ')"><a href="#">POC Name</a></li>
                    <li onclick="addText('Requests.Product_ProductID ')"><a href="#">Product ID</a></li>
                    <li onclick="addText('Requests.VIP_VIPID ')"><a href="#">VIP ID</a></li>
                </ul>
            </div>
            <div class="btn-group col-xs-12 dropdown" id="ServiceDeskRequests" style="padding: 3px 0px 3px 0px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="myCaret glyphicon glyphicon-chevron-down"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <button type="button" class="btn btn-default" onclick="addText('ServiceDeskRequests ')">ServiceDesk Requests</button>
                <ul class="dropdown-menu">
                    <li onclick="addText('ServiceDeskRequests.ServiceDeskRequestID ')"><a href="#">All</a></li>
                    <li onclick="addText('ServiceDeskRequests.ServiceDeskRequestID ')"><a href="#">ServiceDesk Request ID</a></li>
                    <li role="separator" class="divider"></li>
                    <li onclick="addText('ServiceDeskRequests.Request_RequestID ')"><a href="#">Request ID</a></li>
                </ul>
            </div>
            <div class="btn-group col-xs-12 dropdown" id="VIPs" style="padding: 3px 0px 0px 0px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="myCaret glyphicon glyphicon-chevron-down"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <button type="button" class="btn btn-default" onclick="addText('VIPs ')">VIPs</button>
                <ul class="dropdown-menu">
                    <li onclick="addText('VIPS.VIPID, VIPs.VIPName, VIPs.VIPNumber, VIPs.VIPRenewalDate ')"><a href="#">All</a></li>
                    <li onclick="addText('VIPs.VIPID ')"><a href="#">VIP ID</a></li>
                    <li onclick="addText('VIPs.VIPName ')"><a href="#">VIP Name</a></li>
                    <li onclick="addText('VIPs.VIPNumber ')"><a href="#">VIP Number</a></li>
                    <li onclick="addText('VIPs.VIPRenewalDate ')"><a href="#">VIP Renewal Date</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Only show Saved Queries section if a query has already been saved-->
    <div id="SavedQueriesArea" class="col-xs-8">
        @if (Model.SavedQueries.Any())
        {
            <div class="col-xs-12">
                @Html.Label("Saved Queries")
            </div>
                <div class="col-xs-12">
                    <table class="table-striped table-bordered table-hover table-responsive panel-default">
                        <tr>
                            <th>
                                Creation Date
                            </th>
                            <th>
                                Query ID
                            </th>
                            <th>
                                Description
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.SavedQueries)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SavedQueryID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td style="width: 20%">
                                    @Html.ActionLink("Run", "SavedQueryRan", "Query", new { id = item.SavedQueryID }, new { @class = "glyphicon glyphicon-play-circle" }) |
                                    @Html.ActionLink("Edit", "Edit", "SavedQueries", new { id = item.SavedQueryID }, new { @class = "glyphicon glyphicon-cog" }) |
                                    @Html.ActionLink("Delete", "Delete", "SavedQueries", new { id = item.SavedQueryID }, new { @class = "glyphicon glyphicon-trash" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
        }
    </div>
</div>

<!-- Only show Results section if a query has been submitted -->
@if (Model.Queries != null)
{
    <div id="ResultsArea" class="col-xs-12">
        <div class="col-xs-12">
            <br />
            @Html.Label("Results")
        </div>
        <div class="col-xs-12">
            <table class="table-striped table-bordered table-hover table-responsive panel-default col-xs-12" style="empty-cells: hide">
                <tr>
                    <!-- Common -->
                    @if (Model.Queries.Any(row => row.Request_RequestID != 0) || Model.Queries.Any(row => row.RequestID != 0))
                {
                        <th style="padding: 5px">
                            Request ID
                        </th>
                    }

                    <!-- End Users -->
                    @if (Model.Queries.Any(row => row.EndUserID != 0))
                {
                        <th style="padding: 5px">
                            End User ID
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.UserName != null))
                {
                        <th style="padding: 5px">
                            UserName
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.Email != null))
                {
                        <th style="padding: 5px">
                            Email
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.Building != null))
                {
                        <th style="padding: 5px">
                            Building
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.RmNo != null))
                {
                        <th style="padding: 5px">
                            Room Number
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.Tag != 0))
                {
                        <th style="padding: 5px">
                            Tag Number
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.ComputerSerial != null))
                {
                        <th style="padding: 5px">
                            Computer Serial
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.ComputerName != null))
                {
                        <th style="padding: 5px">
                            Computer Name
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.AdobeID != null))
                {
                        <th style="padding: 5px">
                            Adobe ID
                        </th>
                    }

                    <!-- License Type -->
                    @if (Model.Queries.Any(row => row.LicenseTypeID != 0))
                {
                        <th style="padding: 5px">
                            License Type ID
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.LicenseTypeDesc != null))
                {
                        <th style="padding: 5px">
                            License Type Description
                        </th>
                    }

                    <!-- Point of Contact -->
                    @if (Model.Queries.Any(row => row.POCName != null))
                {
                        <th style="padding: 5px">
                            Point of Contact Name
                        </th>
                    }

                    <!-- Product -->
                    @if (Model.Queries.Any(row => row.ProductID != 0))
                {
                        <th style="padding: 5px">
                            Product ID
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.ProductDesc != null))
                {
                        <th style="padding: 5px">
                            Product Description
                        </th>
                    }

                    <!-- Purchase Order -->
                    @if (Model.Queries.Any(row => row.PurchaseOrderID != 0))
                {
                        <th style="padding: 5px">
                            Purchase Order ID
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.Qty != 0))
                {
                        <th style="padding: 5px">
                            Quantity
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.PONo != null))
                {
                        <th style="padding: 5px">
                            Purchase Order Number
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.PODate != default(DateTime)))
                {
                        <th style="padding: 5px">
                            Purchase Order Date
                        </th>
                    }

                    <!-- Request -->
                    <!-- Handled at the top
                    if (Model.Queries.Any(row => row.RequestID != 0))
                {
                        <th style="padding: 5px">
                            Request ID
                        </th>
                    }
                    -->
                    @if (Model.Queries.Any(row => row.LicenseType_LicenseTypeID != 0))
                {
                        <th style="padding: 5px">
                            LicenseTypeID
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.PointOfContact_POCName != null))
                {
                        <th style="padding: 5px">
                            POCName
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.Product_ProductID != 0))
                {
                        <th style="padding: 5px">
                            Product ID
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.VIP_VIPID != 0))
                {
                        <th style="padding: 5px">
                            VIP ID
                        </th>
                    }

                    <!-- ServiceDesk Request -->
                    @if (Model.Queries.Any(row => row.ServiceDeskRequestID != 0))
                {
                        <th style="padding: 5px">
                            ServiceDesk Request ID
                        </th>
                    }

                    <!-- VIP -->
                    @if (Model.Queries.Any(row => row.VIPID != 0))
                {
                        <th style="padding: 5px">
                            VIP ID
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.VIPName != null))
                {
                        <th style="padding: 5px">
                            VIP Name
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.VIPNumber != null))
                {
                        <th style="padding: 5px">
                            VIP Number
                        </th>
                    }
                    @if (Model.Queries.Any(row => row.VIPRenewalDate != default(DateTime)))
                {
                        <th style="padding: 5px">
                            VIP Renewal Date
                        </th>
                    }
                </tr>

                @foreach (var item in Model.Queries)
                {
                    <tr>
                        <!-- Common -->
                        @if (Model.Queries.Any(row => row.Request_RequestID != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.Request_RequestID)
                            </td>
                        }
                        else if (Model.Queries.Any(row => row.RequestID != 0))
                        {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.RequestID)
                            </td>
                        }

                        <!-- End User -->
                        @if (Model.Queries.Any(row => row.EndUserID != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.EndUserID)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.UserName != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.Email != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.Building != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.Building)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.RmNo != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.RmNo)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.Tag != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.Tag)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.ComputerSerial != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.ComputerSerial)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.ComputerName != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.ComputerName)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.AdobeID != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.AdobeID)
                            </td>
                        }

                        <!-- License Type -->
                        @if (Model.Queries.Any(row => row.LicenseTypeID != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.LicenseTypeID)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.LicenseTypeDesc != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.LicenseTypeDesc)
                            </td>
                        }

                        <!-- Point of Contact -->
                        @if (Model.Queries.Any(row => row.POCName != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.POCName)
                            </td>
                        }

                        <!-- Product -->
                        @if (Model.Queries.Any(row => row.ProductID != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.ProductID)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.ProductDesc != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.ProductDesc)
                            </td>
                        }

                        <!-- Purchase Order -->
                        @if (Model.Queries.Any(row => row.PurchaseOrderID != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.PurchaseOrderID)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.Qty != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.Qty)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.PONo != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.PONo)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.PODate != default(DateTime)))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.PODate)
                            </td>
                        }

                        <!-- Request -->
                        <!-- Handled at the top
                        if (Model.Queries.Any(row => row.RequestID != 0))
                    {
                            <td style="padding: 5px">
                                Html.DisplayFor(modelItem => item.RequestID)
                            </td>
                        }
                        -->
                        @if (Model.Queries.Any(row => row.LicenseType_LicenseTypeID != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.LicenseType_LicenseTypeID)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.PointOfContact_POCName != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.PointOfContact_POCName)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.Product_ProductID != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.Product_ProductID)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.VIP_VIPID != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.VIP_VIPID)
                            </td>
                        }

                        <!-- ServiceDesk Request -->
                        @if (Model.Queries.Any(row => row.ServiceDeskRequestID != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.ServiceDeskRequestID)
                            </td>
                        }

                        <!-- VIP -->
                        @if (Model.Queries.Any(row => row.VIPID != 0))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.VIPID)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.VIPName != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.VIPName)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.VIPNumber != null))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.VIPNumber)
                            </td>
                        }
                        @if (Model.Queries.Any(row => row.VIPRenewalDate != default(DateTime)))
                    {
                            <td style="padding: 5px">
                                @Html.DisplayFor(modelItem => item.VIPRenewalDate)
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
}

<script language="javascript" type="text/javascript">
    function addText(text) {
        document.getElementById('Query').value += text;
        document.getElementById('Query').focus();
    }
    function clearText() {
        document.getElementById('Query').value = "";
    }
</script>
<script type="text/javascript">
    $(document).ready(function () { // Start of JQuery Code
        // Code to change dropdown icon whenever it is changed.
        $(".dropdown").on("show.bs.dropdown", function (e) {
            $(this).find(".glyphicon-chevron-down").addClass("glyphicon-chevron-right").removeClass("glyphicon-chevron-down");
        });
        $(".dropdown").on("hide.bs.dropdown", function (e) {
            $(this).find(".glyphicon-chevron-right").addClass("glyphicon-chevron-down").removeClass("glyphicon-chevron-right");
        });

    }); // End of JQuery Code
</script>