@model AdobeLicenseManagement.Models.PurchaseOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PONo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PONo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PODate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PODate)
        </dd>

        <dt>
            Request
        </dt>
        <dd>
            @if (Model.Request == null)
            {
                <p>No Request associated with this Purchase Order.</p>
            }
            else
            {
                <table class="table">
                    <tr>
                        <th>
                            Request ID
                        </th>
                        <th>
                            Purchase Order Number
                        </th>
                        <th>
                            VIP Name
                        </th>
                        <th>
                            License Type Description
                        </th>
                        <th>
                            Product Description
                        </th>
                        <th>
                            Point of Contact Name
                        </th>
                        <th>
                            Service Desk Request ID
                        </th>
                        <th>
                            End User ID
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Request.RequestID)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Request.PurchaseOrder.PurchaseOrderID)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Request.VIP.VIPName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Request.LicenseType.LicenseTypeDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Request.Product.ProductDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Request.PointOfContact.POCName)
                        </td>
                        <td>
                            @foreach (var sdreq in Model.Request.ServiceDeskRequests)
                            {
                                @sdreq.ServiceDeskRequestID<br />
                            }
                        </td>
                        <td>
                            @foreach (var endU in Model.Request.EndUsers)
                            {
                                @endU.UserName<br />
                            }
                        </td>
                    </tr>
                </table>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaseOrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
