@model IEnumerable<AdobeLicenseManagement.Models.PurchaseOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Request.RequestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PONo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PODate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Request.RequestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <!-- Hide PONo if it hasn't been entered yet -->
        @if (item.PONo != "")
        {
            <td>
                @Html.DisplayFor(modelItem => item.PONo)
            </td>
        }
        else
        {
            <td></td>
        }
        <!-- Hide PODate if it hasn't been entered yet -->
        @if (item.PODate != new DateTime(1753, 1, 1))
        {
            <td>
                @Html.DisplayFor(modelItem => item.PODate)
            </td>
        }
        else
        {
            <td></td>
        }
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseOrderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseOrderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseOrderID })
        </td>
    </tr>
}

</table>
