@model IEnumerable<AdobeLicenseManagement.Models.EndUser>

@{
    ViewBag.Title = "End Users Table";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RmNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComputerSerial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComputerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdobeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.RequestID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RmNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComputerSerial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComputerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdobeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request.RequestID)
        </td>
        @if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
        {
            <!-- Show the edit/delete buttons for owners and administrators -->
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EndUserID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EndUserID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EndUserID })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.EndUserID })
            </td>
        }
    </tr>
}

</table>
