@model IEnumerable<AdobeLicenseManagement.Models.Building>

@{
    ViewBag.Title = "Buildings Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuildingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BuildingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BuildingID })
        </td>
    </tr>
}

</table>
