@model PagedList.IPagedList<AdobeLicenseManagement.Models.Building>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Buildings Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-md-8">
    @using (Html.BeginForm("Index", "Buildings", FormMethod.Get))
    {
        <p title="Search by Building Name">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control"})
            <button type="submit" value="Search" class="btn btn-default">Search</button>
        </p>
    }
</div>

<div class="col-md-4">
    @using (Html.BeginForm("Index", "Buildings", FormMethod.Get))
    {
        <p title="Change number of items on each page">
            Page Size: @Html.TextBox("pageSize", ViewBag.PageSize as string, new { @class="form-control"})
            <button type="submit" value="Submit" class="btn btn-default">Submit</button>
        </p>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Building Name", "Index", new { sortOrder = ViewBag.BuildingNameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuildingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BuildingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BuildingID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page, pageSize = ViewBag.PageSize }))