<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adobe License Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Adobe License Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style= "font-size:300 %" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("Owner") || User.IsInRole("Administrator") || User.IsInRole("Super User"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tables <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("End Users", "Index", "EndUsers")</li>
                                    <li>@Html.ActionLink("License Types", "Index", "LicenseTypes")</li>
                                    <li>@Html.ActionLink("Point of Contacts", "Index", "PointOfContacts")</li>
                                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                                    <li>@Html.ActionLink("Purchase Orders", "Index", "PurchaseOrders")</li>
                                    <li>@Html.ActionLink("Requests", "Index", "Requests")</li>
                                    <li>@Html.ActionLink("ServiceDesk Requests", "Index", "ServiceDeskRequests")</li>
                                    <li>@Html.ActionLink("VIPs", "Index", "VIPs")</li>
                                </ul>
                            </li>
                        }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Forms <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Help Desk Form", "HelpDeskForm", "Forms")</li>
                                <li>@Html.ActionLink("PO Form", "POForm", "Forms")</li>
                                <li>@Html.ActionLink("Adobe ID Form", "AdobeIDForm", "Forms")</li>
                            </ul>
                        </li>
                        @if (User.IsInRole("Owner") || User.IsInRole("Administrator") || User.IsInRole("Super User"))
                        {
                            <li>@Html.ActionLink("Queries", "Index", "Query")</li>
                            if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
                            {
                                <li>@Html.ActionLink("Change Log", "Index", "Home")</li>
                                <li>@Html.ActionLink("Users Admin", "Index", "UsersAdmin")</li>
                            }
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        <!-- Custom over head messages -->
        <!-- Example from controller: "TempData["SuccessOHMsg"] = "License Type created";" -->
        @if (TempData["SuccessOHMsg"] != null)
        {
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> @TempData["SuccessOHMsg"]
            </div>
        }
        @if (TempData["InfoOHMsg"] != null)
        {
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Heads up!</strong> @TempData["InfoOHMsg"]
            </div>
        }
        @if (TempData["WarnOHMsg"] != null)
        {
            <div class="alert alert-warning alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Warning!</strong> @TempData["WarnOHMsg"]
            </div>
        }
        @if (TempData["DangerOHMsg"] != null)
        {
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Oh snap!</strong> @TempData["DangerOHMsg"]
            </div>
        }

        @RenderBody()
        <hr />
    </div>

    <script>
        $(document).ready(function () { // Start of JQuery Code

            $(".alert").fadeTo(10000, 1000).fadeOut(1000, function () {
                $(".alert").fadeOut(1000);
            });

        }); // End of JQuery Code
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
