@model PagedList.IPagedList<AdobeLicenseManagement.Models.PointOfContact>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Point of Contacts Table";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="col-md-8">
    @using (Html.BeginForm("Index", "PointOfContacts", FormMethod.Get))
    {
        <p title="Search by POC Name or Notes">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            <button type="submit" value="Search" class="btn btn-default">Search</button>
        </p>
    }
</div>

<div class="col-md-4">
    @using (Html.BeginForm("Index", "PointOfContacts", FormMethod.Get))
    {
        <p title="Change number of items on each page">
            Page Size: @Html.TextBox("pageSize", ViewBag.PageSize as string, new { @class = "form-control" })
            <button type="submit" value="Submit" class="btn btn-default">Submit</button>
        </p>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("POC Name", "Index", new { sortOrder = ViewBag.POCNameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Notes", "Index", new { sortOrder = ViewBag.NotesSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.POCName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        @if (User.IsInRole("Owner") || User.IsInRole("Administrator"))
        {
            <!-- Show the edit/delete buttons for owners and administrators -->
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.POCName }) |
                @Html.ActionLink("Details", "Details", new { id = item.POCName }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.POCName })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.POCName })
            </td>
        }
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, page, pageSize = ViewBag.PageSize}))
