@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using System.Web;
@model IEnumerable<AdobeLicenseManagement.Models.ApplicationUser>

@{
    ViewBag.Title = "Users Table";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            Roles
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @foreach (var role in item.Roles)
                {
                    if (Int32.Parse(role.RoleId) == 1)
                    {
                        <p>Owner</p>
                    }
                    else if (Int32.Parse(role.RoleId) == 2)
                    {
                        <p>Administrator</p>
                    }
                    else if (Int32.Parse(role.RoleId) == 3)
                    {
                        <p>Super User</p>
                    }
                    else if (Int32.Parse(role.RoleId) == 4)
                    {
                        <p>User</p>
                    }
                    else
                    {
                        <p>Err: Unknown role</p>
                    }
                }
            </td>
            
            @{  var userManager = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>();
                var rolesForUser = userManager.GetRoles(item.Id);
            }

            @if (!ViewData["Current User"].Equals(item.UserName) && (!rolesForUser.Contains("Owner") || User.IsInRole("Owner")))
            {
                <!-- Show the edit/delete buttons if the user selected is not the user logged in (can't change their own roles)
                    and if the selected user is not an owner or the current logged in user is an own -->
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, UserName = item.UserName }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>