@model IEnumerable<UTEP_Printing_Management.Models.DTO>
@using UTEP_Printing_Management.Models;
@{
    ViewBag.Title = "Display Queries";
}


<h2>Queries</h2>


@if (Model == null)
{
    <p class="alert alert-danger">The query entered was invalid</p>
    <div class="panel pull-right">
        @Html.ActionLink("Build a new query", "Index", "Queries", new { @class = "btn btn-default btn-large" })
    </div>
}
else
{
    <div class="container">
        @using (Html.BeginForm("DisplayQuery", "Queries", FormMethod.Get))
        {
            <div class="col-md-2">
                @Html.ActionLink("Build a new query", "Index", "Queries", new { @class = "btn btn-default btn-large" })
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Save the Query", "Create", "SavedQueries", new { query = ViewBag.QueryRan.Replace("xyy", "*") }, new { @class = "btn btn-default btn-large" })
            </div>
            <div class="col-md-12">
                <table class ="table-striped table-bordered table-hover table-responsive panel-default" style="empty-cells: hide">
                    <tr>
                        <!-- Consumable Deliveries -->
                        @if (Model.Any(row => row.ConsumableDeliveryID != 0))
                        {
                            <th style="padding: 5px">
                                Consumable Delivered ID
                            </th>
                        }
                        @if (Model.Any(row => row.DateDelivered != default(DateTime)))
                        {
                            <th style="padding: 5px">
                                Date Delivered
                            </th>
                        }
                        @if (Model.Any(row => row.DateChanged != default(DateTime)))
                        {
                            <th style="padding: 5px">
                                Date Changed
                            </th>
                        }
                        @if (Model.Any(row => row.EmployeeName != null))
                        {
                            <th style="padding: 5px">
                                Employee Name
                            </th>
                        }

                        <!-- Consumables Ordered -->
                        @if (Model.Any(row => row.ConsumableOrderedID != 0))
                        {
                            <th style="padding: 5px">
                                Consumable Ordered ID
                            </th>
                        }
                        @if (Model.Any(row => row.QtyOrdered != 0))
                        {
                            <th style="padding: 5px">
                                Qty Ordered
                            </th>
                        }
                        @if (Model.Any(row => row.DateOrdered != default(DateTime)))
                        {
                            <th style="padding: 5px">
                                Date Ordered
                            </th>
                        }

                        <!-- Consumables Recieved -->
                        @if (Model.Any(row => row.ConsumableRecievedID != 0))
                        {
                            <th style="padding: 5px">
                                Consumable Recieved ID
                            </th>
                        }
                        @if (Model.Any(row => row.QtyRecieved != 0))
                        {
                            <th style="padding: 5px">
                                Qty Recieved
                            </th>
                        }
                        @if (Model.Any(row => row.DateRecieved != default(DateTime)))
                        {
                            <th style="padding: 5px">
                                Date Recieved
                            </th>
                        }

                        <!-- Devices -->
                        @if (Model.Any(row => row.DeviceID != 0))
                        {
                            <th style="padding: 5px">
                                Device ID
                            </th>
                        }
                        @if (Model.Any(row => row.PrinterMake != null))
                        {
                            <th style="padding: 5px">
                                Printer Make
                            </th>
                        }
                        @if (Model.Any(row => row.PrinterType != null))
                        {
                            <th style="padding: 5px">
                                Printer Type
                            </th>
                        }

                        <!-- Device Consumables -->
                        @if (Model.Any(row => row.DeviceConsumableID != 0))
                        {
                            <th style="padding: 5px">
                                Device Consumable ID
                            </th>
                        }
                        @if (Model.Any(row => row.PartDescription != null))
                        {
                            <th style="padding: 5px">
                                Part Description
                            </th>
                        }
                        @if (Model.Any(row => row.PartType != null))
                        {
                            <th style="padding: 5px">
                                Part Type
                            </th>
                        }
                        @if (Model.Any(row => row.PartNo != null))
                        {
                            <th style="padding: 5px">
                                Part No
                            </th>
                        }

                        <!-- Inventory Stock -->
                        @if (Model.Any(row => row.InventoryStockItemID != 0))
                        {
                            <th style="padding: 5px">
                                Inventory Stock Item ID
                            </th>
                        }
                        @if (Model.Any(row => row.SerialNo != null))
                        {
                            <th style="padding: 5px">
                                Serial No
                            </th>
                        }

                        <!-- Labs -->
                        @if (Model.Any(row => row.LabID != 0))
                        {
                            <th style="padding: 5px">
                                Lab ID
                            </th>
                        }
                        @if (Model.Any(row => row.LabName != null))
                        {
                            <th style="padding: 5px">
                                Lab Name
                            </th>
                        }
                        @if (Model.Any(row => row.Building != null))
                        {
                            <th style="padding: 5px">
                                Building
                            </th>
                        }
                        @if (Model.Any(row => row.RoomNo != null))
                        {
                            <th style="padding: 5px">
                                Room No
                            </th>
                        }

                        <!-- Purchase Orders -->
                        @if (Model.Any(row => row.UTEP_PurchaseOrderNumber != 0))
                        {
                            <th style="padding: 5px">
                                Purchase Ordered ID
                            </th>
                        }
                        @if (Model.Any(row => row.POAmount != 0))
                        {
                            <th style="padding: 5px">
                                PO Amount
                            </th>
                        }
                        @if (Model.Any(row => row.PODate != default(DateTime)))
                        {
                            <th style="padding: 5px">
                                PO Date
                            </th>
                        }

                        <!-- Student Printers -->
                        @if (Model.Any(row => row.StudentPrinterID != 0))
                        {
                            <th style="padding: 5px">
                                Student Printer ID
                            </th>
                        }
                        @if (Model.Any(row => row.PrinterName != null))
                        {
                            <th style="padding: 5px">
                                Printer Name
                            </th>
                        }
                        @if (Model.Any(row => row.PrinterModel != null))
                        {
                            <th style="padding: 5px">
                                Printer Model
                            </th>
                        }
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <!-- Consumable Deliveries -->
                            @if (Model.Any(row => row.ConsumableDeliveryID != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.ConsumableDeliveryID)
                                </td>
                            }
                            @if (Model.Any(row => row.DateDelivered != default(DateTime)))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.DateDelivered)
                                </td>
                            }
                            @if (Model.Any(row => row.DateChanged != default(DateTime)))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.DateChanged)
                                </td>
                            }
                            @if (Model.Any(row => row.EmployeeName != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                </td>
                            }

                            <!-- Consumables Ordered -->
                            @if (Model.Any(row => row.ConsumableOrderedID != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.ConsumableOrderedID)
                                </td>
                            }
                            @if (Model.Any(row => row.QtyOrdered != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.QtyOrdered)
                                </td>
                            }
                            @if (Model.Any(row => row.DateOrdered != default(DateTime)))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.DateOrdered)
                                </td>
                            }

                            <!-- Consumables Recieved -->
                            @if (Model.Any(row => row.ConsumableRecievedID != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.ConsumableRecievedID)
                                </td>
                            }
                            @if (Model.Any(row => row.QtyRecieved != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.QtyRecieved)
                                </td>
                            }
                            @if (Model.Any(row => row.DateRecieved != default(DateTime)))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.DateRecieved)
                                </td>
                            }

                            <!-- Devices -->
                            @if (Model.Any(row => row.DeviceID != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.DeviceID)
                                </td>
                            }
                            @if (Model.Any(row => row.PrinterMake != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.PrinterMake)
                                </td>
                            }
                            @if (Model.Any(row => row.PrinterType != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.PrinterType)
                                </td>
                            }

                            <!-- Device Consumables -->
                            @if (Model.Any(row => row.DeviceConsumableID != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.DeviceConsumableID)
                                </td>
                            }
                            @if (Model.Any(row => row.PartDescription != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.PartDescription)
                                </td>
                            }
                            @if (Model.Any(row => row.PartType != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.PartType)
                                </td>
                            }
                            @if (Model.Any(row => row.PartNo != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.PartNo)
                                </td>
                            }

                            <!-- Inventory Stock -->
                            @if (Model.Any(row => row.InventoryStockItemID != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.InventoryStockItemID)
                                </td>
                            }
                            @if (Model.Any(row => row.SerialNo != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.SerialNo)
                                </td>
                            }

                            <!-- Labs -->
                            @if (Model.Any(row => row.LabID != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.LabID)
                                </td>
                            }
                            @if (Model.Any(row => row.LabName != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.LabName)
                                </td>
                            }
                            @if (Model.Any(row => row.Building != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.Building)
                                </td>
                            }
                            @if (Model.Any(row => row.RoomNo != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.RoomNo)
                                </td>
                            }

                            <!-- Purchase Orders -->
                            @if (Model.Any(row => row.UTEP_PurchaseOrderNumber != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.UTEP_PurchaseOrderNumber)
                                </td>
                            }
                            @if (Model.Any(row => row.POAmount != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.POAmount)
                                </td>
                            }
                            @if (Model.Any(row => row.PODate != default(DateTime)))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.PODate)
                                </td>
                            }

                            <!-- Student Printers -->
                            @if (Model.Any(row => row.StudentPrinterID != 0))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.StudentPrinterID)
                                </td>
                            }
                            @if (Model.Any(row => row.PrinterName != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.PrinterName)
                                </td>
                            }
                            @if (Model.Any(row => row.PrinterModel != null))
                            {
                                <td style="padding: 5px">
                                    @Html.DisplayFor(modelItem => item.PrinterModel)
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
}

<p class="alert alert-info">Query ran: @ViewBag.QueryRan</p>