@model IEnumerable<UTEP_Printing_Management.Models.SavedQuery>
@using UTEP_Printing_Management.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Queries</h2>

@if(ViewBag.Message != null)
{
    <p class="alert alert-danger">@ViewBag.Message</p>
}

<div class="container col-md-9">

    @using (Html.BeginForm("Index", "Queries", FormMethod.Get))
    {
        if (Model.Any())   // Hides this panel if there are no saved queries
        {
            <div class="panel" id="SavedQueries">

                <div class="panel-heading">
                    <h4>Saved Queries</h4>
                </div>

                <div class="panel-body">
                    <p>
                        <table class="table-striped table-bordered table-hover table-responsive panel-default">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Run", "Run", "SavedQueries", new { id = item.SavedQueryID }, new { @class = "glyphicon glyphicon-play-circle" }) |
                                        @Html.ActionLink("Edit", "Edit", "SavedQueries", new { id = item.SavedQueryID }, new { @class = "glyphicon glyphicon-cog" }) |
                                        @Html.ActionLink("Delete", "Delete", "SavedQueries", new { id = item.SavedQueryID }, new { @class = "glyphicon glyphicon-trash" })
                                    </td>
                                </tr>
                            }
                        </table>
                    </p>
                </div>
            </div>
        }


        @Html.Partial("ManualQuery")

        @Html.Partial("QueryBuilder")

        <p class="alert alert-warning">Please be aware that a very large query may time out before it can actually complete.</p>
    }
</div>